*{
    margin: 0;
    padding: 0;
    
}
.header{
    z-index: 4;
    position: sticky;
    top: 0;
    background-color: #f5faff79;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px  0;

 
   
}
.sam{
    height: 18px;
    padding-left: 15px;
}
.nav-header{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-decoration: none;
    font-size: 23px;
    color: black;
    align-items: center;
    padding-right: 85px;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: 'Anton', sans-serif;
}
.arrow{
     padding-left: 15px;
     padding-top: 5px;
}

.nav-icon{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.884);
  font-size: 30px;
  padding-right: 25px;
padding-bottom: 5px;
  
}

.nav-blank{
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.295) ;
   margin: 0 45px 0 35px;
  
  
}
.blank-link{
    text-decoration: none;
    color: black;
    padding-right: 20px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
 font-size: 15px;
 font-family: 'Inter', sans-serif;
}

.blank-link:hover{
    border-top: 2px solid #38c2e9;
}
.content{
    height: 1080vh;
    width: 100%;
    background-color:#F4F4F4;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding-left: 10px;
    font-family: 'Anton', sans-serif;


}

.main-img{
    padding-left: 35px;
}
.sim{
     display: flex;
     justify-content: center;
     font-size: 12px;
     opacity: 50%;
     font-family: 'Anton', sans-serif;
     min-height: 15vh;

}
.writing{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    padding: 15px;
    color: rgba(0, 0, 0, 0.801);
    font-family: 'Anton', sans-serif;
    font-size: 14px;
}

.grid{

    display: grid;
    grid-template-columns: 200px 200px 200px 300px;
  gap: 20px;
   
    justify-content: center;
    margin: 25px;
   
    
   
}

.video1{
    background-color: rgb(255, 255, 255);
  
    grid-column: 1/ span 3;
    
    height: 300px;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
   position: relative;
}
.flex-p{
    position: absolute;
    bottom: 0;
}
.gridp{
    padding: 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.video2{
   grid-column: 4;
   grid-row: 1/ span 2;
    background-color: #ffffff;
 
     
    overflow: hidden;
    align-content: center;
}

.video4{
   height: 300px;
   overflow: hidden;
    background-color: aliceblue;
    position: relative;
    
}
.cam-p{
    position: absolute;
    top: 0;
    padding: 15px;
    color: #F4F4F4;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.mode-p{
    position: absolute;
    top: 0;
    padding: 15px;
    color: #141414;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.video5{
    background-color: #F4F4F4;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.video6{
    background-color: aliceblue;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.bor{
    border-radius: 25px;
}
.vd{
    height: 350px;
    width: 100%;
}

.grid2{
    display: grid;
    grid-template-columns: 300px 300px 300px ;
     gap: 20px;
   
    justify-content: center;
    margin: 25px;
}
.link-img{
    background-color: #ffffff;
   display: flex;
   align-items: center;
   padding: 15px;
   
}
.vid-link{
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.link-writing{
    background-color: #ffffff;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.p-one{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.p-two{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
     text-align: center;
}
.p-three{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.drop{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 40px;
}
.drop-link{
    text-decoration: none;
    color: black;
    
}

.mul{
    background-color: #ffffff;
    min-height: 740vh;
    margin-top: 10%;
    border-radius: 45px;
    overflow: hidden;
    
}
.mul-writing{
    padding-left:15% ;
    display: flex;
    flex-direction: column;
    width: 60vw;
 
}
.mud{
 width: 100vw;
}
.mul-p1{
    font-size:65px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.mul-p2{
    padding-top: 7%;
    font-family: 'Roboto', sans-serif;
    width: 30vw;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.575);
    font-size: 15px;
}

.mul-p3{
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    width: 30vw;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.575);
    font-size: 15px;
}

.meye{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    position: relative;
    width: 100vw;
}
.meye-writing{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -5%;
    right: 14%;
    width: 35vw;
}

.meye-p1{
    font-size: 30px;
   
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.meye-p2{
    padding-top: 7%;
    font-family: 'Roboto', sans-serif;
    width: 30vw;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.575);
    font-size: 15px;
}
.a4{
    position: absolute;
   font-size: 10px;

}
.meye-p3{
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    width: 30vw;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.575);
    font-size: 15px;
}
.col{
     display: grid;
     grid-template-columns: auto auto;
     gap:9%;
     padding: 15% 15% 10% 15%;
     justify-content: space-between;
  
}
.col1{
    font-family: 'Roboto', sans-serif;
     grid-row: 1/span 3;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 30px;
    width: 30vw;
}

.col2{
    font-family: 'Roboto', sans-serif;
 
    font-weight: 100;
    color: rgba(0, 0, 0, 0.575);
    font-size: 15px;
    
   
}

.col3{
    font-family: 'Roboto', sans-serif;
 padding-top: 5%;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.575);
    font-size: 15px;
    padding-bottom: 5%;
   
}

.button-link{
     text-decoration: none;
     color: black;
     font-family: 'Roboto', sans-serif;
   
    
}
.button{
    font-family: 'Roboto', sans-serif;
    width: 10vw;

    height: 8vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
   
}
.button:hover{
    background-color: black;
    transition: 1s;

    
}
.button:hover .button-link{
    color: white;
}

.circle{
    display: flex;
    justify-content: center;
    border: none;
    padding-left: 15%;
   

}


.green{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:#CAD9D3 ;
    
   
}
.pad{
    margin-right: 10px;
}
.pad:active{
    border: 2px solid #2782E6;
}

.grey{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:#53565A ;
   
}

.gold{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:#F0EAE0 ;
   
}

.pink{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #D4C7D9 ;
   
}

.case{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
  
    border-radius: 15px;
    width: 100vw;
  
    
}
.aa{
    border-radius: 25px;
}
.main-case{
    grid-row: 1/span 2;
   height: 86vh;
 
}
.mi{
    background-color: #F4F4F4;
    width: 22vw;
    height: 8vh;
    border-radius:25px 15px 0 0;
   
    
    
}
.is{
    border-radius: 0 25px 25px 25px;
}
.mint{
    padding: 3%;
    font-size: 20px;
    font-family:'Roboto', sans-serif; ;
}
.boc-color{
    display: flex;
    justify-content: start;
    padding-left: 16.4%;
}
.posi-img{
    margin: 15%;
    position: relative;
    
}
.the-img{
   width: 70vw;
   height: 150vh;
   border-radius: 25px;
 
}


.amar{
    display: grid;
    grid-template-columns: auto auto;
    gap:9%;
   
    justify-content: space-between;
    position: absolute;
    top: 20%;
    
}
.amar1{
   font-family: 'Roboto', sans-serif;
    grid-row: 1/span 3;
   font-weight: 800;
   color: rgb(0, 0, 0);
   font-size: 27px;
   width: 30vw;
   padding-left: 15%;
}

.amar2{
   font-family: 'Roboto', sans-serif;

   font-weight: 100;
   color: rgba(0, 0, 0, 0.575);
   font-size: 15px;
   width: 25vw;
   padding-left: 10px;
  
}

.amar3{
   font-family: 'Roboto', sans-serif;
padding-top: 5%;
   font-weight: 100;
   color: rgba(0, 0, 0, 0.575);
   font-size: 15px;
   padding-bottom: 5%;
   padding-left: 10px;
  
}
.at{
    margin-left: 10px;
}

.another{
      display: flex;
      justify-content: end;
      align-items: center;
      padding-left: 10%;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50vw;
      
}

.on{
   background-color: #CAE3FF;
   border-radius: 15px;
   padding: 7px 15px   ;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   color: #606C79;
   font-size: 15px;
}
.gr{
    color: #3b3d3f;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-left: 10px;
}
.ghi{
    background-color: #C7C8CA;
}
.blue{
    background-color: #6F8AAD;
}
.dib{
    background-color: #749D8C;
}
.dibt{
    background-color:#FFD175 ;
}
.bet{
    display: flex;
    justify-content: center;
}
.better{
    display: flex;
    align-items: center;
  
   border-radius: 15px;
    background-color: #F6F6F6;
    padding: 2%;
    width: 30vw;
}

.beet{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.to{
    color: #929292;
    padding-bottom: 5px;
}
.flip{
    font-size: 17px;
    font-weight: 800;
   
}
.cl{
    padding-left: 25px;
}